{# inclui o template base.html #}
{% extends "base.html" %}

{# preenche o titulo da pagina que é passado para o template base atraves do 'block' titulo #}
{% block titulo %}Visualizar {{titulo}}{% endblock %}
{% block body %}<body class="dashboard">{% endblock %}

{% block formulario %}
<form name="form_busca" action="" method="POST">
<table>
{{ form_busca.as_table }}
<tr>
  <td></td><td><button class="button-style" type="submit"><font color='ffffff' size='3' >Buscar</font></td>
</tr>
</table>
<input type="hidden" name="inicio" value="{{ inicio }}"><input type="hidden" name="fim" value="{{ fim }}">
</form>
{% endblock %} 

{% block exibir %}
<h2><span>{{objeto.nome_funcionario}}</span></h2>
<table>
{% for campos in form %}
{% if campos.name = "foto" %}
{% if objeto.foto %}
{% endif %}
{% else %}{% if campos.name = "cargo" %}
		<tr>
			<td><b>{{campos.label_tag}}</b></td>
			<td>{{objeto.cargo}}</td>
		</tr>
{% else %}{% if campos.name = "setor" %}
		<tr>
			<td><b>{{campos.label_tag}}</b></td>
			<td>{{objeto.setor}} / {{objeto.setor.sigla}}</td>
		</tr>
{% else %}{% if campos.name = "telefones" %}
		<tr>
			<td><b>{{campos.label_tag}}</b></td>
			<td>{% for telefone in telefones %}({{telefone.ddd}}) {{telefone}} {% endfor %}</td>
		</tr>
{% else %}{% if campos.name = "funcoes" %}
{% if funcoes %}
		<tr>
			<td><b>{{campos.label_tag}}</b></td>
			<td>{% for funcao in funcoes %}{{ funcao }} {% endfor %}</td>
		</tr>
{% endif %}{% else %}
		<tr>
			<td><b>{{campos.label_tag}}</b></td>
			<td>{{campos.value}}</td>
		</tr>
{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
{% endfor %}
</table>
{% endblock %}
{% block foto %} {% if objeto.foto %}<img src="/media/{{objeto.foto.url}}" width="90" height="120"/>{% endif %} {% endblock %}
{% block lista %} 
{% for funcionario in lista %}
<p> &nbsp; &nbsp; &nbsp; &nbsp; <strong><a href="javascript:enviar_formulario({{ funcionario.id }})" >{{ funcionario.nome_funcionario }}</strong> - {{ funcionario.setor.sigla }} </a></p>
{% endfor %}
{%if lista%}
{% if linhas_vazias %}{% for linha_vazia in linhas_vazias %} <p>&nbsp;</p> {% endfor %}{% endif %}
&nbsp; &nbsp; &nbsp; &nbsp; <a href="javascript:pagina_anterior()" > <img src="/media/img/anterior.png" /></a> 
{{ inicio|add:"1" }} a 
{% if tamanho_total_lista > fim %}
{{ fim }} 
{% else %}
{{ tamanho_total_lista }}
{% endif %}
de {{ tamanho_total_lista }}
<a href="javascript:proxima_pagina({{ tamanho_total_lista }})" > <img src="/media/img/proximo.png" /> </a>
{% endif %}
{% endblock %}

